.main__new {
  background: #ecf4fc;
}
.main__new p {
  color: #596b83;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 32px */
}

.section__title {
  color: #596b83;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}
.section__title strong {
  color: #2d75b4;
  display: block;
}
@media (max-width: 767.98px) {
  .section__title {
    font-size: 32px;
  }
}
@media (max-width: 374.98px) {
  .section__title {
    font-size: 26px;
  }
}

.section__subtitle {
  color: #354456;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-bottom: 5px solid #2d75b4;
  padding-bottom: 16px;
}
@media (max-width: 767.98px) {
  .section__subtitle {
    font-size: 24px;
  }
}

.marked__text {
  color: #596b83;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  position: relative;
  padding-left: 16px;
}
.marked__text::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 4px;
  background: #2d75b4;
}

.text-center {
  text-align: center;
}

.section__clouds {
  min-height: 100dvh;
  height: 100%;
  background: url("../images/background-dark-clouds-before-thunder-storm-dramatic-sky-min.jpeg") center/cover no-repeat;
}

.section__content {
  position: relative;
  z-index: 1;
}
.section__content::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 600px;
  background: linear-gradient(90deg, #415c9d 2.03%, #4e99cb 100%);
  z-index: -1;
}

.content {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding: 0 20px;
  padding-bottom: 100px;
}
@media (max-width: 767.98px) {
  .content {
    gap: 80px;
  }
}
.content__container {
  max-width: 1600px;
  margin: 0 auto;
  background: white;
  margin-top: -600px;
}

.protection__header {
  display: flex;
  margin-top: 26px;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767.98px) {
  .protection__header {
    flex-direction: column-reverse;
    align-items: start;
  }
}
.protection__texts {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (max-width: 767.98px) {
  .protection__img {
    display: flex;
    margin-left: auto;
  }
}

.coverage {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 991.98px) {
  .coverage {
    flex-direction: column;
    gap: 40px;
  }
}
.coverage__keys-list {
  margin-top: 42px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.coverage__keys-list p {
  line-height: 1;
  color: #4a5059;
}
.coverage__links {
  background: #ecf4fc;
  max-width: 380px;
  width: 100%;
  padding: 46px 64px;
}
@media (max-width: 991.98px) {
  .coverage__links {
    max-width: 100%;
    padding: 32px;
  }
}
.coverage__link {
  color: #2d75b4;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  text-decoration-line: underline;
  line-height: 200%;
}
@media (max-width: 767.98px) {
  .coverage__link {
    line-height: 150%;
  }
}

.how {
  margin-top: 64px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 64px;
}
@media (max-width: 991.98px) {
  .how {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767.98px) {
  .how {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }
}
.how.without__first {
  gap: 0;
}
.how.without__first h2 {
  font-size: 40px;
  padding-right: 40px;
}
@media (max-width: 767.98px) {
  .how.without__first h2 {
    font-size: 32px;
    padding: 0;
  }
}
@media (max-width: 374.98px) {
  .how.without__first h2 {
    font-size: 26px;
  }
}
.how.without__first .how__item {
  padding: 35px 20px;
}
.how.without__first .how__item:nth-child(1) {
  padding-top: 0;
}
.how.without__first .how__item:nth-child(even) {
  border: 1px solid #2d75b4;
}
.how.without__first .how__item:nth-child(5) {
  border-bottom: 1px solid #2d75b4;
}
.how.without__first .how__item:nth-child(3) {
  border-top: 1px solid #2d75b4;
  border-right: 1px solid #2d75b4;
}
@media (max-width: 991.98px) {
  .how.without__first .how__item:nth-child(1) {
    padding: 0;
    margin-bottom: 24px;
  }
  .how.without__first .how__item:nth-child(4) {
    border: none;
    border-right: 1px solid #2d75b4;
  }
  .how.without__first .how__item:nth-child(3) {
    border-bottom: 1px solid #2d75b4;
    border-left: 1px solid #2d75b4;
  }
  .how.without__first .how__item:nth-child(5) {
    border-bottom: 1px solid #2d75b4;
    border-left: 1px solid #2d75b4;
  }
}
@media (max-width: 767.98px) {
  .how.without__first .how__item:nth-child(2) {
    border: 1px solid #2d75b4;
  }
  .how.without__first .how__item:nth-child(3) {
    border-top: none;
  }
  .how.without__first .how__item:nth-child(4) {
    border-left: 1px solid #2d75b4;
    border-bottom: 1px solid #2d75b4;
  }
  .how.without__first .how__item:nth-child(5) {
    border-right: 1px solid #2d75b4;
    border-bottom: none;
  }
}
.how.how__double {
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 767.98px) {
  .how.how__double {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 991.98px) {
  .how.how__triple .how__item:last-child {
    grid-column: span 2;
  }
}
@media (max-width: 767.98px) {
  .how.how__triple .how__item:last-child {
    grid-column: 1;
  }
}
.how__item {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.how__image {
  margin-bottom: 17px;
}
.how__title {
  color: #354456;
  text-align: center;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.how__text {
  color: #596b83;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 32px */
  margin-top: 25px;
}

.info {
  margin-top: 64px;
  display: grid;
  gap: 64px;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 767.98px) {
  .info {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }
}
.info.faq__info {
  grid-template-columns: repeat(1, 1fr);
}
.info__item {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.info__title {
  color: #596b83;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 16px;
}
.info__title span {
  color: #2d75b4;
}
.info__texts {
  color: #596b83;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 28px */
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 24px;
  margin-bottom: 64px;
}
@media (max-width: 767.98px) {
  .info__texts {
    margin-bottom: 40px;
  }
}
.info__list {
  padding-left: 20px;
  list-style-type: disc;
  margin-top: 20px;
}/*# sourceMappingURL=new.css.map */